body {
  /*Banner font: hieragino maru gothic proN*/
    font-family: Helvetica;
    background-color: rgb(20, 20, 20);
    /*background: url("img/circuit.png") repeat; this is for a background*/
  }
h1{
  color: white;
}
strong{
  color: white;
}

.StaticColor{
  color: white;
}

.range-slider {
  -webkit-appearance: none;
  width: 99%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #333333;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 15px;
  height: 5px;
  border-radius: 5px;
  background: #04AA6D;
  cursor: pointer;
}

.mode-slider {
  -webkit-appearance: none;
  width: 20%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
}

.mode-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #333333;
  cursor: pointer;
}

.mode-slider::-moz-range-thumb {
  width: 15px;
  height: 5px;
  border-radius: 5px;
  background: #04AA6D;
  cursor: pointer;
}

.RainbowMode{
  max-width: 400px;
  border: 3px solid #5c5c5c;
  border-radius: 5px;
  color: #d3d3d3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

p {
    color: red;
}

input{
  background-color:rgb(34, 34, 34); 
  border: 1px solid #3d3d3d;
  border-radius: 5px;
}

button {
  background-color: rgb(40, 40, 40); 
  color: white;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
}

button:hover {
  background-color: #3d3d3d;
  color: white;
}

.color0 {
  background-color: #FFBC42;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.color1 {
  background-color: #D81159;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.color2 {
  background-color: #8F2D56;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.color3 {
  background-color: #218380;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.color4 {
  background-color: #73D2DE;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}


