body {
  /*Banner font: hieragino maru gothic proN*/
    font-family: Helvetica;
    background-color: rgb(20, 20, 20);
    /*background: url("img/circuit.png") repeat; this is for a background*/
  }
h1{
  color: white;
}

.StaticColor{
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    border-radius: 25px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

p {
    color: red;
}

input{
  background-color:rgb(34, 34, 34); 
  border: 1px solid #3d3d3d;
  border-radius: 5px;
}

button {
  background-color: rgb(40, 40, 40); 
  color: white;
  border: 1px solid #3d3d3d;
  border-radius: 25px;
}

button:hover {
  background-color: #3d3d3d;
  color: white;
}
